.reviews h1 {
  text-align: center;
}
.reviews {
  margin: 5%;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: max-content;
  padding: 1%;
  border: lightgray solid 3px;
  border-radius: 10px;
  margin: 1%;
  text-align: center;
}
.card p {
  margin: 2%;
}
.card h3 {
  margin: 2%;
}
.card h2 {
  margin: 2%;
}
.testimonials {
  display: flex;
  justify-content: space-evenly;
  margin: 4%;
  flex-wrap: wrap;
}
@media (orientation: portrait) and (max-width: 800px) {
  .card {
    text-align: left;
  }
}
