.Links {
  list-style-type: none;
  display: flex;
}
.image {
  margin-left: 80%;
}
.Links li {
  margin-right: 5vw;
  font-size: x-large;
  background-color: rgb(165, 165, 165);
}
.button {
  display: none;
}

.contact {
  margin: 5%;
  border: solid black 2px;
  padding: 0.5%;
}
.infocontact {
  background-color: red;

  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.infocontact1 {
  position: relative;
  padding-top: 20%;
  left: 80%;
}
.infocontact.showbutton {
  background-color: blue;
}
.buttoncontact {
  width: 20%;
}
.loft {
  -webkit-text-stroke: 0.5px black;
  color: #fe5000;
  font-size: xx-large;
  margin-left: 15%;
}
.ham:first-child {
  margin-top: 10%;
}
.ham {
  border-top: 2px solid black;
  margin-top: 25%;
}
.Nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(165, 165, 165);
  width: 99%;
  height: 7vh;
  align-items: center;
  position: fixed;
  z-index: 999;
  margin-left: 0.5%;
  white-space: nowrap;
}

@media (max-width: 800px) {
  .Nav {
    display: flex;
    justify-content: space-between;
  }
  .button {
    display: block;
    background-color: #999;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    padding: 1%;
    border: 0.5px rgb(130, 128, 128) solid;
    margin: 5%;
  }
  .image {
    margin-left: 5%;
  }
  .Links {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    flex-direction: column;
    position: absolute;
    top: 62px; /* Adjust the top position based on your design */
    left: 0;
    width: 100%;
    background-color: grey;
    z-index: 1000;
  }

  .Links.show {
    display: flex;
    opacity: 1;
    max-height: 500px;
  }

  .Links li {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
  }
}
