.main {
  margin: 5%;
  margin-top: 10%;
}

.type {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  justify-content: space-evenly;
}

.textmain {
  width: 65%;
  margin: auto;
}

.info {
  margin: 2%;
  width: 40%;
}

.info h3 {
  margin-bottom: 1%;
}

@media (orientation: portrait) and (max-width: 800px) {
  .main {
    margin: 5%;
    width: 100%;
    margin-top: 30%;
  }
  .type {
    flex-direction: column;
  }
  .info {
    margin: 2%;

    width: 100%;
  }
  .textmain {
    width: 80%;
    margin: auto;
  }
}
