.main {
  background-color: rgb(165, 165, 165);
  padding: 1%;
}
.content {
  background-color: white;
  padding-top: 5%;
}
.type {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  justify-content: space-evenly;
}

.textmain {
  width: 65%;
  margin: auto;
}

.info {
  margin: 2%;
  width: 40%;
}

.info h3 {
  margin-bottom: 1%;
}

@media (orientation: portrait) and (max-width: 800px) {
  .main {
    margin: auto;
    width: 100%;
  }
  .type {
    flex-direction: column;
  }
  .content {
    padding-top: 15%;
  }
  .info {
    margin: 2%;

    width: 100%;
  }
  .textmain {
    width: 80%;
    margin: auto;
  }
}
