.Links {
  list-style-type: none;
  display: flex;
}
.image {
  padding: 5%;
}
.Links li {
  margin-right: 5vw;
  font-size: xx-large;
}

.Nav {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  height: 105px;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 999;
}
@media (orientation: portrait) and (max-width: 800px) {
  .Links {
    list-style-type: none;
    display: flex;
    margin-right: 15vw;
  }
  .image {
    padding: 1%;
  }

  .Links li {
    padding: 2%;
    margin: 0%;
    font-size: large;
    white-space: nowrap;
    border-left: 1px solid black;
  }
}
